@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
:root {
    --primary-color: #591fec;
    --text-color: #333;
    --shadow-color: #6a34f3e2;
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #f5f5f5;
}
html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.player {
    position: relative;
    max-width: 480px;
    margin: 0 auto;
}
.player .icon-pause {
    display: none;
}
.player.playing .icon-pause {
    display: inline-block;
}
.player.playing .icon-play {
    display: none;
}

.dashboard {
    padding: 16px 16px 14px;
    /* background-color: #fff; */
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1  );
    backdrop-filter: blur( 4px );
    border: 1px solid rgb(255, 255, 255);
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 480px;
    border-bottom: 1px solid #e8e8e8;
    border-radius: 10px;
}

/* HEADER */
header {
    text-align: center;
    margin-bottom: 10px;
}

header .status-title {
    color: var(--primary-color);
    font-size: 12px;
}

header .curr-music-play {
    color: var(--text-color);
    font-size: 20px;
}
header .singer-name {
    color: #666;
    font-size: 14px;
    line-height: 14px;
}

/* CD */
.cd {
    display: flex;
    margin: auto;
    width: 200px;
}
.cd-thumb {
    width: 100%;
    padding-top: 100%;
    border-radius: 50%;
    background-color: #333;
    background-size: cover;
    margin: auto;
}
/* CONTROL */
.control {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 18px 0 8px 0;
}
.control .btn {
    color: #666;
    padding: 18px;
    font-size: 18px;
}
.control .btn.active {
    color: var(--primary-color);
}
.control .btn.active i {
    text-shadow: 0 0 18px var(--shadow-color);
}
.control .btn-toggle-play {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    font-size: 24px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
}
.control .btn-toggle-play .icon-play {
    margin-left: 5px;
}
.progress {
    width: 100%;
    appearance: none;
    height: 8px;
    background: #d3d3d3;
    border-radius: 2px;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}
.progress::-webkit-slider-thumb {
    appearance: none;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background-color: var(--primary-color);
    cursor: pointer;
}

/* PLAYLIST */
.playlist {
    margin-top: 413px;
    height: 280px;
    padding: 12px;
    /* overflow: auto; */
}
.song {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    background-color: #fff;
    padding: 8px 16px;
    border-radius: 5px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
}

.song.active {
    background-color: var(--primary-color);
}
.song:active {
    opacity: 0.8;
}
.song.active .option,
.song.active .author,
.song.active .title {
    color: #fff;
}
.song .thumb {
    width: 60px;
    height: 60px;
    border-radius: 10px;
    background-size: cover;
    margin: 0 8px;
}
.song .body {
    flex: 1;
    padding: 0 16px;
}
.song .title {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
}
.song .author {
    font-size: 12px;
    color: #999;
}
.song .option {
    padding: 16px 8px;
    color: #999;
    font-size: 18px;
}
